<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">

    <script type="text/javascript">
        var rootUrl = '{$rootUrl}';
    </script>
    {foreach from=$cssFiles item=cssFile}
    <link rel="stylesheet" type="text/css" href="{$rootUrl}{$cssFile}" />
    {/foreach}
    
    {foreach from=$jsFiles item=jsFile}
    <script type="text/javascript" src="{$rootUrl}{$jsFile}"></script>
    {/foreach}

<head profile="http://gmpg.org/xfn/11">
<link rel="shortcut icon" href="http://genesis.lg.ua/wp-content/themes/WOObizness/favicon.png" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="http://genesis.lg.ua/wp-content/uploads/2015/12/favicon.ico" />
<meta name="keywords" content="" />
<meta name="description" content="" />
	
	
<title>  Категории товаров  Гарнитуры</title>
<link rel="stylesheet" type="text/css" media="all" href="http://genesis.lg.ua/wp-content/themes/WOObizness/style.css" />
<div class="inner_copy"><span style="font-style:italic; ">Тема создана проектом <a href="http://www.wp-city.ru">www.wp-city.ru</a>  Создание индивидуального дизайна для Вас!</span></div>
<!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
<link rel="alternate" type="text/xml" title="RSS .92" href="http://genesis.lg.ua/?feed=rss" />
<link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="http://genesis.lg.ua/?feed=atom" />
   
<link rel="alternate" type="application/rss+xml" title="Компьютерная периферия и аксессуары в Луганске &raquo; Лента" href="http://genesis.lg.ua/?feed=rss2" />
<link rel="alternate" type="application/rss+xml" title="Компьютерная периферия и аксессуары в Луганске &raquo; Лента комментариев" href="http://genesis.lg.ua/?feed=comments-rss2" />
<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel='stylesheet' id='contact-form-7-css'  href='http://genesis.lg.ua/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=4.3.1' type='text/css' media='all' />
<link rel='stylesheet' id='woocommerce-layout-css'  href='//genesis.lg.ua/wp-content/plugins/woocommerce/assets/css/woocommerce-layout.css?ver=2.4.12' type='text/css' media='all' />
<link rel='stylesheet' id='woocommerce-smallscreen-css'  href='//genesis.lg.ua/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen.css?ver=2.4.12' type='text/css' media='only screen and (max-width: 768px)' />
<link rel='stylesheet' id='woocommerce-general-css'  href='//genesis.lg.ua/wp-content/plugins/woocommerce/assets/css/woocommerce.css?ver=2.4.12' type='text/css' media='all' />
<link rel='https://api.w.org/' href='http://genesis.lg.ua/?rest_route=/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://genesis.lg.ua/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://genesis.lg.ua/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 4.4.14" />
<meta name="generator" content="WooCommerce 2.4.12" />
<link rel="alternate" type="application/rss+xml"  title="Новые товары добавлены в Гарнитуры" href="http://genesis.lg.ua/?post_type=product&#038;feed=rss2&#038;product_cat=garnitury" />

</head>

<body class="{$bodyClass} archive tax-product_cat term-garnitury term-24 woocommerce woocommerce-page">



 <div class="cbp-af-header">

<div style="background:#333; color:#FFF; padding-bottom:5px ">
<div class="units-row geer" style="max-width:1140px; margin:0 auto 0 auto; padding:0 20px 0 20px;">
    <div class="unit-53 vopros"></div>
     
    <div class="unit-53 carttop"> </div>
</div>
</div>

<div class="units-row" style="max-width:1140px; margin:0 auto 0 auto;">
    <div class="unit-30"><div align="center"><a href="http://genesis.lg.ua" ><img style="border:none;" src="http://genesis.lg.ua/wp-content/uploads/2015/12/logog.png" /></a></div></div>
   <!--меню-->  
    <div class="unit-70">
    
    <nav>
<div align="center"><a id="touch-menu" class="mobile-menu" href="#"><i class="fa fa-th-large fa-lg"></i></a></div>
<div class="menu-%d1%82%d0%be%d0%b2%d0%b0%d1%80%d1%8b-container">
  <ul id="navigation" class="menu">
    {foreach $mainMenu as $item}
    <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="{$item['link']}">{$item['caption']}</a></li>
    {/foreach}
    <li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37"><a href="http://genesis.lg.ua/?page_id=32">Контакты</a></li>
    <li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38"><a href="http://genesis.lg.ua/?page_id=30">О компании</a></li>
</ul></div></nav>
    
    
    </div>
    
</div>
</div>
            
  <div id="wraper">

<div class="units-row">

<div class="unit-70" style="position:relative">
    <div style="float: right;">
    {if $user}
    <div style="float: left;">
    <h2 class="let" style="text-align:center; line-height:42px;">Здравствуйте, {$user->name}</h2>
    </div>
    <div style="float: left;">
    <form action="{$rootUrl}/login" method="POST" class="headerForm woocommerce-product-search">
      <input name="logout" type="hidden" value="1" />
      <input type="submit" value="Выйти" />
    </form>
    </div>
    {else}
    <h2 class="let" style="text-align:center; line-height:30px;"><a href="{$rootUrl}/login">Войти</a></h2>
    {/if}
    </div>
  
  {$content}
    <!--
    <h1 class="page-title">Гарнитуры</h1>

    <div class="term-description"><p>Продаем оптом гарнитуры (наушники со встроенным микрофоном) для смартфонов, планшетов, компьютеров и ноутбуков в Луганске, доставляем по территории ЛНР и ДНР. Накладные и внутриканальные (вставки), от компаний Perfeo, Defender, Sven. Широкий выбор &#8212; от массивных игровых гарнитур до компактных переносных. Складные и обычной конструкции. Все гарнитуры &#8212; от производителей. Лучшие цены  &#8212; работаем напрямую с производителями.  </p>
    
    </div>
    -->

			</div>

</div>

</div>

<!-- footer -->
<div style="background:#333;border-top:2px solid #0065B3;">


<div style="max-width:1000px; margin:0 auto 0 auto ;  padding:20px; z-index:1; color:#FFF;">

<center><div id="triangle-down3"></div></center>

<div class="units-row">
    
   
</div>

<div class="units-row">
   <div class="unit-33" >
 
 
  <span style="margin-bottom:15px; display:block; color:#999"></span>
 
  
    
   
 </div>
    
    
    
   <div class="unit-33"> 
   <div align="center">
    <ul style="list-style:none; font-size:13px; color:#999">
   
 <li><i class="fa fa-phone"></i>&nbsp; +38-095-4-111-770, 072-128-4111</li>
  <li><i class="fa fa-home"></i>&nbsp; Луганск </li>
 <li><i class="fa fa-at"></i>&nbsp; opt@genesis.lg.ua</li>

    </ul>
     </div>
  </div> 
    
  <div class="units-row">
    <div class="unit-33" >
    <span style="margin-bottom:15px; display:block; color:#999"></span>
  </div>

 
  </div>
    <span style="color:#999; font-size:12px">Купить компьютерную периферию, аксессуары, CD/DVD-R/RW оптом в Луганске. Флешки (USB Flash), карты памяти (micro SD), клавиатуры, компьютерные мыши, игровые манипуляторы, веб-камеры, коврики для мышек, FM-модуляторы, наушники, наушники игровые с микрофоном, колонки компьютерные, портативные, зарядки сетевые, автомобильные, портативные батареи, батарейки, провода, шнуры micro/mini USB, аудио-видео, переходники, сетевые фильтры, устройства для селфи, АКБ, стабилизаторы, защитные стекла и пленки для экранов, чистящие средства. Если вам нужны проводные или беспроводные клавиатуры, игровые, оптические или лазерные мышки для компьютера или ноутбука, наушники для телефона, смартфона, планшета, ПК, ноутбука - вы попали по адресу. 
    Продаем оптом флешки, карты памяти, веб-камеры, джойстики, геймпады, микрофоны настольные и для караоке. 
    Весь товар находится на складе в Луганске в наличии, забрать купленные аксессуары вы сможете сразу после оплаты. Или высылаем товар в Донецк, ДНР, а так же по Луганской области, ЛНР.  Официальные представители компании Defender (Дефендер), Dialog (Диалог), дилеры ТМ Perfeo, Sven, Smartbuy, Nakatomi.</span>  
  </div>

</div>



</div>
 
<div class="inner_copy"><span style="font-style:italic; ">Тема создана проектом <a href="http://www.wp-city.ru">www.wp-city.ru</a>  Создание индивидуального дизайна для Вас!</span></div>
</body>    
</html>
