<html>
<head>
    <meta charset="utf-8" />
    <title>{$pageTitle}</title>
    
    <script type="text/javascript">
        var rootUrl = '{$rootUrl}';
    </script>
    {foreach from=$cssFiles item=cssFile}
    <link rel="stylesheet" type="text/css" href="{$rootUrl}{$cssFile}" />
    {/foreach}
    
    {foreach from=$jsFiles item=jsFile}
    <script type="text/javascript" src="{$rootUrl}{$jsFile}"></script>
    {/foreach}
</head>

<body class="{$bodyClass}">

{$content}

</body>
</html>
