<h3>Изменить профиль</h3>

<div class="message">
{if $messageType}
    {if $messageType === 'savingFailed'}
        <p>Изменения не были сохранены. Возникла ошибка.</p>
    {else if $messageType === 'emptyName'}
        <p>Пустое ФИО. Возникла ошибка.</p>
    {/if}
{/if}
</div>

<form action="{$currentUrl}" method="POST">
<table class="formTable smallTable">

    {include file="$baseTemplatePath/formViewText.tmpl" value="{$user->login}" caption="Логин"}
    
    {include file="$baseTemplatePath/formText.tmpl" value="{$user->name}" name="name" caption="ФИО"}
    
</table>
<p>
    <input type="submit" name="submit" value="Сохранить" />
    <input type="button" value="Отмена" class="back" />
</p>
</form>
