<h3>Изменить пароль</h3>

<div class="message">
{if $messageType}
    {if $messageType === 'savingFailed'}
        <p>Изменения не были сохранены. Возникла ошибка.</p>
    {else if $messageType === 'passwordDifferent'}
        <p>Введённые пароли отличаются. Возникла ошибка.</p>
    {else if $messageType === 'emptyConfirm'}
        <p>Введите подтверждение пароля. Возникла ошибка.</p>
    {else if $messageType === 'emptyPassword'}
        <p>Пароль не может быть пустым. Возникла ошибка.</p>
    {/if}
{/if}
</div>

<form action="{$currentUrl}" method="POST">
<table class="formTable smallTable">
    
    {include file="$baseTemplatePath/formViewText.tmpl" value="{$user->login}" caption="Логин"}
    
    {include file="$baseTemplatePath/formPassword.tmpl" name="password" caption="Пароль"}
    
    {include file="$baseTemplatePath/formPassword.tmpl" name="confirmPassword" caption="Подтвердите пароль"}
    
</table>
<p>
    {include file="$baseTemplatePath/buttonSubmit.tmpl" value="Сохранить"}
    {include file="$baseTemplatePath/buttonCancel.tmpl" value="Отмена"}
</p>
</form>
