<h3>Ваш профиль</h3>

<div class="message">
{if $messageType}
    {if $messageType === 'profileUpdated'}
        <p>Профиль обновлён.</p>
    {else if $messageType === 'passwordChanged'}
        <p>Пароль изменён.</p>
    {/if}
{/if}
</div>

<p><a href="{$baseUrl}/edit">Измнить профиль</a></p>
<p><a href="{$baseUrl}/password">Изменить пароль</a></p>
<table class="viewTable smallTable">
    
    {include file="$baseTemplatePath/formViewText.tmpl" value="{$user->login}" caption="Логин"}
    {include file="$baseTemplatePath/formViewText.tmpl" value="{$user->name}" caption="ФИО"}
    
</table>
