<h3>Изменить настройки</h3>

<form action="{$currentUrl}" method="POST">
<table>
    <tr><td>
        {include file="$baseTemplatePath/formText.tmpl" name="productsPerPage" caption="Товаров на странице"}
    </td></tr>
</table>
<p>
    <input type="submit" name="submit" value="Save" />
    <input type="button" value="Cansel" class="back" />
</p>
</form>
