<div class="listContent">

<h3>Settings</h3>

<table class="listTable"><tbody>
    <tr>
        <th>Name</th>
        <th>Value</th>
    </tr>
    
    <tr>
        <td>
            Products per page
        </td>
        <td>
            {include file="$baseTemplatePath/viewText.tmpl" value="{$ettings->productsPerPage}"}
        </td>
    </tr>
</tbody></table>

</div>
