<div class="listContent">

<h3>Настройки</h3>

<table class="listTable"><tbody>
    <tr>
        <th>Опция</th>
        <th>Значение</th>
    </tr>
    
    <tr>
        <td>
            Товаров на странице
        </td>
        <td>
            {include file="$baseTemplatePath/viewText.tmpl" value="{$ettings->productsPerPage}"}
        </td>
    </tr>
</tbody></table>

</div>
