<div class="listContent">

<h3 id="basketEmpty"{if $order && $order->getProductsCount()} class="hidden"{/if}>Ваша корзина пуста.</h3>
<h3 id="basket"{if ! $order || ! $order->getProductsCount()} class="hidden"{/if}>В вашей корзине <span id="basketCount">{$order->getProductsCount()}</span> товар(ов). Стоимость товаров <span id="basketCost">{$order->getProductsCost()}</span>.<br /><a href="{$rootUrl}/order">Оформить заказ</a></h3>

{if $currentCategory}
<h1>{$currentCategory->caption}</h1>
{else}
<h1>Все продукты</h1>
{/if}

{if $categoriesList}
    <div class="categories">
        {foreach $categoriesList as $key => $category}
            {if $key !== 0}&nbsp;&nbsp;|&nbsp;&nbsp;{/if}
            {if $currentCategory && $category->id === $currentCategory->id}
                <strong>{$category->caption}</strong>
            {else}
                <a href="{$baseUrl}/{$category->id}">{$category->caption}</a>
            {/if}
        {/foreach}
    </div>
{/if}

<table class="listTable">
    <tr>
        <th>Код товара</th>
        <th>Название</th>
        <th>Цена</th>
        <th>Купить</th>
    </tr>
    
    {foreach $productsList as $product}
        <tr>
            <td>{$product->code}</td>
            <td class="leftAlign">
                {if $product->link}
                    <a href="{$product->link}" target="_blank" rel="noopener noreferrer">{$product->caption}</a>
                {else}
                    {$product->caption}
                {/if}
            </td>
            <td>{$product->price}</td>
            <td><a href="" onClick="addToBasket('{$product->code}', 1, this); return false;">Купить</a></td>
        </tr>
    {/foreach}
</table>

</div>
