<div class="listContent">

<div class="basket">
    <h3 id="basketEmpty"{if $order && $order->getProductsCount()} class="hidden"{/if}>Ваша корзина пуста.</h3>
    <h3 id="basket"{if ! $order || ! $order->getProductsCount()} class="hidden"{/if}>В вашей корзине <span id="basketCount">{$order->getProductsCount()}</span> товар(ов). Стоимость товаров <span id="basketCost">{$order->getProductsCost()}</span>.<br /><a href="{$rootUrl}/order">Оформить заказ</a></h3>
</div>

{if $categoriesList}
    <div class="categories">
        {foreach $categoriesList as $key => $category}
            {if $key !== 0}&nbsp;&nbsp;|&nbsp;&nbsp;{/if}
            {if $currentCategory && $category->id === $currentCategory->id}
                <strong>{$category->caption}</strong>
            {else}
                <a href="{$baseUrl}/{$category->id}">{$category->caption}</a>
            {/if}
        {/foreach}
    </div>
{/if}

<div class="downloadPrice">
<a href="http://genesis.lg.ua/Prkfn/price_new.xls">Скачать прайс в Excel по торговым маркам</a>
<br />
<a href="http://genesis.lg.ua/Prkfn/price_new_group.xls">Скачать прайс в Excel по группам товаров</a>
</div>

{if $currentCategory}
<h1>{$currentCategory->caption}</h1>
{else}
<h1>Все продукты</h1>
{/if}

<div class="catalogTable bordered">
    <div class="catalogBigLine catalogShowOnBigWidth">
        <div class="catalogFirstCell catalogCellCaption">
            <div class="catalogFirstCellIn">
                Название
            </div>
        </div>
        <div class="catalogSecondCell catalogCellCaption">
            <div class="catalogSecondCellIn">
                <div class="catalogCode">Код товара</div>
                <div class="catalogPrice">Цена</div>
                <div class="catalogPrice">Кол-во</div>
                <div class="catalogBuy">Купить</div>
            </div>
        </div>
    </div>
    {foreach $productsList as $product}
    <div class="catalogBigLine">
        <div class="catalogFirstCell">
            <div class="catalogFirstCellIn">
                {if $product->link}
                    <a href="{$product->link}" target="_blank" rel="noopener noreferrer">{$product->caption}</a>
                {else}
                    {$product->caption}
                {/if}
            </div>
        </div>
        <div class="catalogSecondCell">
            <div class="catalogSecondCellIn">
                <div class="catalogCode"><span class="catalogShowOnSmallWidth">Код:&nbsp;</span>{$product->code}</div>
                <div class="catalogPrice"><span class="catalogShowOnSmallWidth">Цена:&nbsp;</span>{$product->price}</div>
                <div class="catalogCount"><input id="productCoount{$product->code}" value="1" /></div>
                <div class="catalogBuy"><a href="" onClick="addToBasket('{$product->code}', document.getElementById('productCoount{$product->code}').value, this); return false;">Купить</a></div>
            </div>
        </div>
    </div>
    {/foreach}
</div>

</div>
