<div class="listContent">

<h3 id="basketEmpty"{if $order && $order->getProductsCount()} class="hidden"{/if}>Ваша корзина пуста.</h3>
<h3 id="basket"{if ! $order || ! $order->getProductsCount()} class="hidden"{/if}>В вашей корзине <span id="basketCount">{$order->getProductsCount()}</span> товар(ов). Стоимость товаров <span id="basketCost">{$order->getProductsCost()}</span></h3>

<h1>Ваш заказ</h1>

<div class="message">
    {if $messageType}
        {if $messageType === 'errorSaveOrderEmptyBasket'}
            <p>Ваша корзина пуста.</p>
        {else if $messageType === 'errorSaveOrderEmptyName'}
            <p>Заполните ваше имя.</p>
        {else if $messageType === 'errorSaveOrderEmptySurname'}
            <p>Заполните вашу фамилию.</p>
        {else if $messageType === 'errorSaveOrderEmptyPhoneAndEmail'}
            <p>Заполните телефон или email.</p>
        {else if $messageType === 'errorSaveOrderSavingError'}
            <p>Заказ не отправлен, возникли технические проблемы. Свяжитесь с нами по телефону.</p>
        {else if $messageType === 'orderSaved' && $orderId}
            <p>Ваш заказ отправлен. Номер вашего заказа {$orderId}.</p>
        {else if $messageType === 'orderSaved'}
            <p>Ваш заказ отправлен.</p>
        {/if}
    {/if}
</div>

<div id="table"></div>

<div id="form"></div>

<script type="text/javascript">
    loadBasket();
</script>

</div>
