body div#wraper {
    padding-top: 2px;
    margin-top: 130px;
}

#wraper .units-row .unit-70 {
    width: 100%;
}

.userInfo {
    float: right;
    padding-left: 20px;
}

.userInfoLine {
    float: left;
}

.userInfo h3 {
    margin: 0;
    line-height: 30px;
    font-size: 18px;
    text-align: right;
}

.userInfo input[type="submit"] {
    height: 30px;
    line-height: 18px;
    font-size: 18px;
}

.basket {
    padding-top: 5px;
    padding-bottom: 5px;
}

.basket h3 {
    font-size: 18px;
}

.headerForm {
    margin: 0;
}

.unit-70.topMenu {
}

@media only screen and (max-width: 1100px) {
    body .menu li.menu-item a,
    body .menu li.menu-item a {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .units-row .unit-70.topMenu {
        margin-left: 0;
    }
    
}

@media only screen and (max-width: 950px) {
    body .units-row .unit-30 {
        width: auto;
    }
    
    body ul.menu li a,
    body ul.menu li.current-menu-item a {
        font-size: 11px;
    }
}

@media only screen and (max-width: 767px) {
    .userInfo {
        float: none;
        padding-left: 0;
    }

    .userInfoLine {
        float: none;
    }

    .userInfo h3 {
        line-height: 30px;
        margin: 0;
        font-size: 18px;
        text-align: right;
    }

    .units-row .genesisLogo.unit-30 {
        margin-bottom: 0;
    }
    
    .unit-70.topMenu ul.menu {
        display: block;
        margin: 0;
    }
    .unit-70.topMenu ul.menu li {
        float: left;
    }
    body .unit-70.topMenu ul.menu li a,
    body .unit-70.topMenu ul.menu li.current-menu-item a {
        padding: 5px;
        font-size: 16px;
    }
    
    body .unit-70.topMenu ul.menu li.current-menu-item a,
    body .unit-70.topMenu ul.menu li:hover a {
        color: white;
        background-color: #0065B3;
    }
    
}

@media only screen and (max-width: 600px) {
    body .unit-70.topMenu ul.menu li a,
    body .unit-70.topMenu ul.menu li.current-menu-item a {
        font-size: 13px;
    }
}