.categories {
    padding-bottom: 16px;
}

.categories strong:hover, .categories a:hover {
    background: #eee;
}

.catalogTable {
    display: table;
    text-align: left;
    width: 100%;
}

.bordered .catalogFirstCell {
    border-bottom: 1px solid gray;
}

.bordered .catalogSecondCell {
    border-bottom: 1px solid gray;
}

.catalogCellCaption {
    font-weight: bold;
}

.catalogShowOnSmallWidth {
    display: none !important;
}

.catalogBigLine {
    display: table-row;
}

.catalogBigLine:hover {
    background-color: #eee;
}

.catalogFirstCell {
    display: table-cell;
}

.catalogFirstCellIn {
    display: block;
    float: left;
    padding: 2px;
}

.catalogSecondCell {
    display: table-cell;
}

.catalogSecondCellIn {
    display: block;
    min-width: 200px;
}

.catalogCode {
    float: left;
    width: 25%;
    min-width: 50px;
    padding: 2px;
}

.catalogPrice {
    float: left;
    width: 25%;
    min-width: 50px;
    padding: 2px;
}

.catalogCount {
    float: left;
    width: 25%;
    min-width: 50px;
    padding: 2px;
}

.catalogCount input {
    width: 40px;
    line-height: 18px;
    height: 18px;
    padding: 0;
    margin-top: 2px;
    border: 1px solid gray;
    text-align: center;
}

.catalogBuy {
    float: left;
    width: 25%;
    min-width: 50px;
    padding: 2px;
}

.downloadPrice {
    float: right;
}

@media(max-width: 600px) {
    .catalogShowOnBigWidth {
        display: none !important;
    }
    
    .catalogShowOnSmallWidth {
        display: inline !important;
    }
    
    .catalogTable {
        display: block;
        text-align: left;
    }
    
    .bordered .catalogFirstCell {
        border-bottom: 0px solid;
    }
    
    .bordered .catalogSecondCell {
        border-bottom: 0px solid;
    }
    
    .bordered .catalogSecondCellIn {
        border-bottom: 1px solid gray;
    }
    
    .catalogBigLine {
        display: table;
        width: 100%;
    }
    
    .catalogBigLine:hover {
        background-color: #eee;
    }
    
    .catalogFirstCell {
        display: table-row;
    }
    
    .catalogFirstCellIn {
        float: none;
        display: table-cell;
        padding: 2px;
    }
    
    .catalogSecondCell {
        display: table-row;
    }
    
    .catalogSecondCellIn {
        display: table-cell;
    }
    
    .downloadPrice {
        float: none;
    }

}