{if empty($productsCount)}
    <h3>Upload products price</h3>

    <div class="message">
    {if $messageType}
        {if $messageType === 'success'}
            <p>Price was saved to DB.</p>
        {else if $messageType === 'errorSavingToDB'}
            <p>Can`t save price to DB. Error occured.</p>
        {else if $messageType === 'errorReadingFromXLS'}
            <p>Can`t read from XLS, check file forman. Error occured.</p>
        {else if $messageType === 'errorUploadingFile'}
            <p>Can`t upload file to server. Error occured.</p>
        {else if $messageType === 'errorInternalError'}
            <p>Internal error occured.</p>
        {/if}
    {/if}
    </div>

    <form action="{$currentUrl}" method="POST" enctype="multipart/form-data">
    <table class="formTable">
    {include file="$baseTemplatePath/formFile.tmpl" name="priceXls" caption="Price (xls)"}
    </table>
    <p>
        <input type="submit" name="submit" value="Upload" />
        <input type="button" value="Cansel" class="back" />
    </p>
    </form>
{else}
    <h3>Products price is uploading</h3>
    
    <div id="error" class="errorMessage hidden">Products were not saved to DB. Error occured.</div>
    
    <div id="success" class="message hidden">Products were saved to DB.</div>
    
    <div id="progress" class="progress">
        <div id="progressLeft" class="progressLeft">
        </div>
    </div>
    
    <script type="text/javascript">
        uploadPrice({$productsCount}, {$productsUploadCount});
    </script>
{/if}

