{if empty($productsCount)}
    <h3>Загрузить прайс</h3>

    <div class="message">
    {if $messageType}
        {if $messageType === 'success'}
            <p>Прайс обновлён.</p>
        {else if $messageType === 'errorSavingToDB'}
            <p>Возникла ошибка. Проблемы с записью в базу.</p>
        {else if $messageType === 'errorReadingFromXLS'}
            <p>Возникла ошибка. Ошибка чтения xls файла.</p>
        {else if $messageType === 'errorUploadingFile'}
            <p>Возникла ошибка. Ошибка загрузки файла на сервер.</p>
        {else if $messageType === 'errorInternalError'}
            <p>Возникла внутренняя ошибка.</p>
        {/if}
    {/if}
    </div>

    <form action="{$currentUrl}" method="POST" enctype="multipart/form-data">
    <table class="formTable">
    {include file="$baseTemplatePath/formFile.tmpl" name="priceXls" caption="Прайс (xls)"}
    </table>
    <p>
        <input type="submit" name="submit" value="Загрузить" />
    </p>
    </form>
{else}
    <h3>Прайс загружается</h3>
    
    <div id="error" class="errorMessage hidden">Продукты не были сохранены. Возникла ошибка.</div>
    
    <div id="success" class="message hidden">Продукты были сохранены.</div>
    
    <div id="progress" class="progress">
        <div id="progressLeft" class="progressLeft">
        </div>
    </div>
    
    <script type="text/javascript">
        uploadPrice({$productsCount}, {$productsUploadCount});
    </script>
{/if}

