<h1>Войдите в ваш аккаунт</h1>

{if $messageType}
    {if $messageType === 'loginFailed'}
        <div class="message"><p>Неверный логин или пароль.</p></div>
    {/if}
{/if}

<form action="{$currentUrl}" method="POST">
<table class="formTable smallestTable">
<tr><td>Логин:</td><td><input name="login" type="text" maxlength="255" /></td></tr>
<tr><td>Пароль:</td><td><input name="password" maxlength="255" type="password" /></td></tr>
<tr><td></td><td><input type="submit" value="Войти" /></td></tr>
</table>
</form>
