<h3>Регистрация</h3>

<div class="errorMessage">
{if $messageType && $messageType === 'successfullyRegistered'}
    <div class="message"><p>Вы успешно зарегистрировались. Свяжитесь с нами по телефону, чтобы мы активировали вашу учётную запись.</p></div>
{else if $messageTypeRegister}
    {if $messageTypeRegister === 'savingFailed'}
        <p>Изменения не были сохранены. Возникла ошибка.</p>
    {else if $messageTypeRegister === 'emptyLogin'}
        <p>Укажите ваш логин.</p>
    {else if $messageTypeRegister === 'existingLogin'}
        <p>Такой логин уже зарегистрирован в системе.</p>
    {else if $messageTypeRegister === 'emptyPassword'}
        <p>Пароль не может быть пустым.</p>
    {else if $messageTypeRegister === 'emptyConfirm'}
        <p>Введите подтверждение пароля.</p>
    {else if $messageTypeRegister === 'passwordDifferent'}
        <p>Введённые пароли отличаются.</p>
    {else if $messageTypeRegister === 'emptyOrganization'}
        <p>Укажите юридическое название.</p>
    {else if $messageTypeRegister === 'emptyPhone'}
        <p>Укажите ваш телефон.</p>
    {else if $messageTypeRegister === 'emptyCity'}
        <p>Укажите ваш город.</p>
    {else if $messageTypeRegister === 'checkBot'}
        <p>Вы дали неверный ответ на вопрос. Подтвердите что вы не робот.</p>
    {/if}
{/if}
</div>

{if empty($messageType) || $messageType !== 'successfullyRegistered'}
<form action="{$currentUrl}" method="POST">
<table class="formTable smallTable">

    {include file="$baseTemplatePath/formText.tmpl" value="{$user->login}" name="login" caption="Логин*"}
    
    {include file="$baseTemplatePath/formPassword.tmpl" name="password" caption="Пароль*"}
    
    {include file="$baseTemplatePath/formPassword.tmpl" name="confirmPassword" caption="Подтвердите пароль*"}
    
    {include file="$baseTemplatePath/formText.tmpl" value="{$user->organization}" name="organization" caption="Юридическое название*"}
    
    {include file="$baseTemplatePath/formText.tmpl" value="{$user->name}" name="name" caption="Ваше имя"}
    
    {include file="$baseTemplatePath/formText.tmpl" value="{$user->phone}" name="phone" caption="Телефон*"}
    
    {include file="$baseTemplatePath/formText.tmpl" value="{$user->email}" name="email" caption="E-Mail"}
    
    {include file="$baseTemplatePath/formText.tmpl" value="{$user->inn}" name="inn" caption="ИНН"}
    
    {include file="$baseTemplatePath/formText.tmpl" value="{$user->address}" name="address" caption="Адрес магазина или торговой точки"}
    
    {include file="$baseTemplatePath/formText.tmpl" value="{$user->city}" name="city" caption="Город*"}
    
    {include file="$baseTemplatePath/formText.tmpl" value="" name="questionAnswer" caption="{$question->question}*"}
    
</table>
<p>
    {include file="$baseTemplatePath/hidden.tmpl" value="{$question->id}" name="questionId"}
    {include file="$baseTemplatePath/buttonSubmit.tmpl" value="Зарегистрироваться"}
    {include file="$baseTemplatePath/buttonCancel.tmpl" value="Отмена"}
</p>
</form>
{/if}