<h3>Изменить профиль</h3>

{if $messageType}
<div class="message">
    {if $messageType === 'savingFailed'}
        <p>Изменения не были сохранены. Возникла ошибка.</p>
    {else if $messageType === 'emptyLogin'}
        <p>Укажите ваш Логин.</p>
    {else if $messageType === 'emptyOrganization'}
        <p>Укажите Юридическое название.</p>
    {else if $messageType === 'emptyPhone'}
        <p>Укажите ваш Телефон.</p>
    {/if}
</div>
{/if}

<form action="{$currentUrl}" method="POST">
<table class="formTable smallTable">

    {include file="$baseTemplatePath/formViewText.tmpl" value="{$user->login}" caption="Логин*"}
    
    {include file="$baseTemplatePath/formText.tmpl" value="{$user->organization}" name="organization" caption="Юридическое название*"}
    
    {include file="$baseTemplatePath/formText.tmpl" value="{$user->name}" name="name" caption="Ваше имя"}
    
    {include file="$baseTemplatePath/formText.tmpl" value="{$user->phone}" name="phone" caption="Телефон*"}
    
    {include file="$baseTemplatePath/formText.tmpl" value="{$user->email}" name="email" caption="E-Mail"}
    
    {include file="$baseTemplatePath/formText.tmpl" value="{$user->inn}" name="inn" caption="ИНН"}
    
    {include file="$baseTemplatePath/formText.tmpl" value="{$user->address}" name="address" caption="Адрес магазина или торговой точки"}
    
    {include file="$baseTemplatePath/formText.tmpl" value="{$user->city}" name="city" caption="Город"}
    
</table>
<p>
    {include file="$baseTemplatePath/buttonSubmit.tmpl" value="Сохранить"}
    {include file="$baseTemplatePath/buttonCancel.tmpl" value="Отмена"}
</p>
</form>
