<h3>Edit</h3>

<table class="listTable"><tbody>
    <tr>
        <th>Код товара</th>
        <th>Название</th>
        <th>Цена</th>
        <th>Количество</th>
    </tr>
    
    {foreach $products as $code => $product}
    <tr>
        <th>{$code}</th>
        <th>
            {if $product['link']}
                <a href="{$product['link']}" target="_blank" rel="noopener noreferrer">{$product['caption']}</a>
            {else}
                {$product['caption']}
            {/if}
        </th>
        <th>{$product['price']}</th>
        <th>{$product['count']}</th>
    </tr>
    {/foreach}
</tbody></table>

<form action="{$currentUrl}" method="POST">
<table class="formTable">
{foreach $propertiesList as $propertyName => $property}
{if $controlsList[$propertyName] !== 'none'}
    {if $item->isPk($propertyName)}
        {include file="$baseTemplatePath/formViewText.tmpl" value="{$item->{$propertyName}}" caption="{$property['caption']}"}
    {else if $controlsList[$propertyName] === 'select'}
        {include file="$baseTemplatePath/formSelect.tmpl" name="{$property['name']}" values=${$property['name']}Values value="{$item->{$propertyName}}" caption="{$property['caption']}"}
    {else if $controlsList[$propertyName] === 'selectBool'}
        {include file="$baseTemplatePath/formSelectBool.tmpl" name="{$property['name']}" value="{$item->{$propertyName}}" caption="{$property['caption']}"}
    {else if $controlsList[$propertyName] === 'textarea'}
        {include file="$baseTemplatePath/formTextarea.tmpl" name="{$property['name']}" value="{$item->{$propertyName}}" caption="{$property['caption']}"}
    {else if $controlsList[$propertyName] === 'html'}
        {include file="$baseTemplatePath/formHtml.tmpl" name="{$property['name']}" value="{$item->{$propertyName}}" caption="{$property['caption']}"}
    {else if $controlsList[$propertyName] === 'password'}
        {include file="$baseTemplatePath/formPassword.tmpl" name="{$property['name']}" caption="{$property['caption']}"}
    {else}
        {include file="$baseTemplatePath/formText.tmpl" name="{$property['name']}" value="{$item->{$propertyName}}" caption="{$property['caption']}"}
    {/if}
{/if}
{/foreach}
</table>
<p>
    <input type="submit" name="submit" value="Save" />
    <input type="button" value="Cansel" class="back" />
</p>
</form>
