<div class="listContent">

<h3>Список заказов</h3>

<div class="message">
{if $messageType}
    {if $messageType === 'itemNotFound'}
        <p>Заказ не найден.</p>
    {else if $messageType === 'editedSuccessfully'}
        <p>Изменения сохранены.</p>
    {else if $messageType === 'editingFailed'}
        <p>Произошла ошибка. Изменения не сохранены.</p>
    {else if $messageType === 'deletedSuccessfully'}
        <p>Заказ был удалён.p>
    {else if $messageType === 'deletingFailed'}
        <p>Произошла ошибка. Заказ не был удалён.</p>
    {else if $messageType === 'disabledSuccessfully'}
        <p>Изменения сохранены.</p>
    {else if $messageType === 'enabledSuccessfully'}
        <p>Изменения сохранены.</p>
    {else if $messageType === 'disablingFailed'}
        <p>Произошла ошибка. Иизменения не сохранены.</p>
    {else if $messageType === 'enabledFailed'}
        <p>Произошла ошибка. Изменения не сохранены.</p>
    {else if $messageType === 'wrongParamethers'}
        <p>Неверные параметры.</p>
    {/if}
{/if}
</div>

{if $pagesCount > 1}
<div class="pages">
{foreach $pagesList as $page}
{if $page === $currentPage}
    <strong>{$page}</strong>
{else}
    <a href="{$baseUrl}/list/{$page}">{$page}</a>
{/if}
{/foreach}
</div>
{/if}

<table class="listTable">
    <tr>
        <th>Id заказа</th>
        <th>Дата</th>
        <th>Заказчик</th>
        <th>Комментарий</th>
        <th>Экспорт</th>
        <th>Активировать</th>
        <th>Действия</th>
    </tr>
    
    {foreach $itemsList as $item}
    <tr>
        <td>{include file="$baseTemplatePath/viewText.tmpl" value="{$item->id}"}</td>
        <td>{include file="$baseTemplatePath/viewText.tmpl" value="{$item->date}"}</td>
        <td>
            {if $item->user && $item->user->organization}
                {include file="$baseTemplatePath/viewText.tmpl" value="{$item->user->organization}"}<br />
            {/if}
            {if $item->user && $item->user->name}
                {include file="$baseTemplatePath/viewText.tmpl" value="{$item->user->name}"}<br />
            {/if}
            {if $item->user && $item->user->phone}
                <div class="singleLine">{include file="$baseTemplatePath/viewText.tmpl" value="{$item->user->phone}"}</div>
            {/if}
            {if $item->user && $item->user->email}
                {include file="$baseTemplatePath/viewText.tmpl" value="{$item->user->email}"}<br />
            {/if}
        </td>
        <td>{include file="$baseTemplatePath/viewText.tmpl" value="{$item->comment}"}</td>
        <td>
            {if ! $item->disabled}<a href="{$baseUrl}/export/{$item->id}">экспортировать</a>&nbsp;{/if}
        </td>
        <td>
            <a href="{$baseUrl}/disable/{$item->id}">{if $item->disabled}активировать{else}деактивировать{/if}</a>
        </td>
        <td>
            <a href="{$baseUrl}/view/{$item->id}">просмотр</a>&nbsp;&nbsp;&nbsp;
            <a href="{$baseUrl}/delete/{$item->id}" onClick="return confirm('Удалить заказ?');">удалить</a>
        </td>
    </tr>
    {/foreach}
</table>

</div>
